<!DOCTYPE html>
<html lang="en">
<%- include ('../includes/head.ejs') %> 
<body>
    <%- include ('../includes/header.ejs') %> 
    <section>
        <h2><%= product.name %> - <span>$<%= product.price %></span></h2>
        <picture><img src="/products/<%= product.image  %>" alt=""></picture>
        <p><%= product.description %></p>
        <form action="/products/delete/<%= element.id %>?m=DELETE" method="post">
            <button type="submit">
                <i class="fa fa-trash"></i>
            </button>
        </form>
    </section>

</body>
</html>