<!DOCTYPE html>
<html lang="en">
<%- include ('includes/head.ejs') %> 
<body>
    <%- include ('includes/header.ejs') %> 
    <section>
        <h2>Ofertas</h2>
        <ul>
            <% products.forEach(element => { %>             
                <li>
                    <a href="/products/detail/<%= element.id %>">
                        <picture><img src="/products/<%= element.image  %>" alt=""></picture>
                        <h2><%= element.name %> - <span>$<%= element.price %></span></h2>
                        <p><%= element.description %></p>                   
                    </a>
                </li>
            <% }) %>
        </ul>
    </section>
</body>
</html>